@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    background-image: url(/img/lion.jpg); /*CHANGE THIS TO WHAT YOU WANT*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*------NAVBAR STYLING------*/

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.nav-logo {
    width: 120px;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    float: right;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

nav ul li a:hover {
    color: salmon;
}


/*------QUIZ WELCOME PAGE STYLING START------*/
.container {
    width: 940px;
    background-color: none;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 15px;
    display: flex;
    border: solid 3px salmon;
    background-image: linear-gradient(rgba(12,3,51,0.4),rgba(12,3,51,0.4));
}

.leftSide,
.rightSide {
    width: 50%;
}
.leftSide img {
    height: 220px; 
    width: 350px;
}

.rightSide h2 {
    color: #fff;
    margin: 20px auto 10px;
    font-size: 25px;
}

.rightSide ul {
    color: #fff;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
    list-style-type: circle;
    list-style-position: inside;
}

.rightSide ul li {
    margin-top: 5px;
}

.rightSide a {
    background-color: none;
    border-radius: 100px;
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
    text-decoration: none;
    outline: none;
    border: salmon 3px solid;
    transition: transform 0.5s;

}

.rightSide a:hover {
    color: salmon;
    transform: translateY(-10px);
}


/*------QUIZ WELCOME PAGE STYLING END------*/

/*------QUIZ QUESTIONS PAGE STYLING START------*/
.box {
    background-color: none;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    min-height: 350px;
    width: 640px;
    padding: 50px;
    border: solid salmon 3px;
    background-image: linear-gradient(rgba(12,3,51,0.4),rgba(12,3,51,0.4));
}

.title {
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
}

.header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.scoreBox,
.timerBox {
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid #fff;
    color: #fff;
}

.questionBox {
    background-color: #594a76;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}

.optionBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}

.optionBox span {
    background-color: #594a76;
    border-radius: 10px;
    color: #fff;
    border: 2px solid salmon;
    padding: 10px 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer button {
    background-color: #fff;
    border-radius: 5px;
    padding: 7px 15px;
    color: #594a76;
    border: 3px salmon solid;
    outline: none;
    font-size: 15px;
}

.resultBox {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;
    color: #fff;
}

.resultBox *:nth-child(odd) {
    text-align: right;
}

.resultBox span {
    font-weight: 600;
}

.buttonBox {
    border-top: 1px solid #444;
    text-align: center;
}
/*------START AGAIN BUTTON STYLING------*/
.buttonBox a {
    background-color: none;
    color: #fff;
    border-radius: 50px;
    border: solid 2px salmon;
    text-decoration: none;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}

/*High Score score page styling START*/
.highScoresList {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        font-size: 20px;
}

.finalScore {
    color: salmon;
}

/*Submit Button*/
.submitBtn {
    text-align: center;
    background-color: salmon;
    color: #fff;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;

}
/*Start again button*/
.btn {
    text-align: center;
    background-color: salmon;
    color: #fff;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}

/*High Score page styling END*/

/*Enter your score button styling*/
.highScoreButtonBox {
    text-align: center;
}

.highScoreButtonBox a {
    background-color: salmon;
    color: #fff;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;
}
/*Right / wrong question answer styling*/
.optionBox span.right {
    background-color: #00ab00;
    border-color: #00ab00;
    color: #fff;
}

.optionBox span.wrong {
    background-color: red;
    border-color: red;
    color: #fff;
}
/*Question container styling END*/



/*Media query START*/
@media screen and (max-width: 768px) {
    .leftSide {
        display: none;
    }
    .container,
    .box {
        width: 425px;
    }
    .rightSide {
        width: 100%
    }
    .optionBox {
        grid-template-columns: 1fr;
    }
}
/*Media query END*/

